.preview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-wrapper {
  background-color: #eee;
  border-radius: 10px;
  padding: 20px;
  width: 420px;
  height: 200px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-bottom: 20px;
}

.item {
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-child-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.box-child-wrapper .item:nth-of-type(1) {
  grid-column: span 2/span 2;
}
